extends layout

block header
  script(src='//code.jquery.com/jquery-1.11.3.min.js')
  script.
    var defaultTab = "#{defaultTab}"
    function comment(resourceID) {
      jQuery.ajax('resources/addcomment/' + resourceID, {type:"post", data: {commentText: document.forms.namedItem(resourceID).commentText.value}}).success(
      function(data){
        console.log(data);
        $('#div_' + resourceID).append("<p class="resourcecomment">" + data.text + "</p>");
      });
    }

    function resource() {
      jQuery.ajax('resources/addresource/', {type:"post", data: {
        name: document.forms.namedItem('addResource').name.value,
        address: document.forms.namedItem('addResource').address.value,
        type: defaultTab,
        description: document.forms.namedItem('addResource').description.value,
      }}).success(
        function(data) {
          console.log(data._id);
          $('#resources').append(
            '<div id='+ 'div_' + data._id +' class="resource">' + data.name + '<form name=\"addComment\" id='+ data._id + '>' +
            '<input type="text" placeholder="comment here" name="commentText">' +
            '<button type="button" onclick=\"comment(\'' + data._id + '\')\">Submit</button>' +
            '</form></div>' +
            '<hr>'
            );
        }
      )
    }

block content
  h1#create= defaultTab

  h3#subtitle These are the #{defaultTab} results
  div#resource 

    each resource in resources
      div(id='create'+resource._id, class='resource')
        = resource.name
        form(name='addComment', method="post", id=resource._id + '')
          input(type='text', placeholder='comment here', name='commentText')
          button#btn.btn-primary.btn-lg(type='button', onclick='comment("'+ resource._id +'")') Submit
        each comment in resource.comments
          p(class='resourcecomment')= comment.text
      hr
  form(name='addResource', id='addResource')
    input(type='text', placeholder='resource name', name='name')
    span Name
    input(type='text', placeholder='address', name='address')
    span Address
    input(type='text', placeholder='description', name='description')
    span Description
    button#btn.btn-primary.btn-lg(type='button', onclick='resource()') Submit
